<launch>
  <!-- ROBOT SIDE -->
  <machine name="raspimouse" address="raspimouse" env-loader="/home/ubuntu/env.bash" user="ubuntu" password="ubuntu" />

  <arg name="imu" default="1" />
  <node machine="raspimouse" pkg="raspimouse_ros_2" name="motors" type="motors" required="true" />

  <node machine="raspimouse" pkg="raspimouse_ros_2" name="buttons" type="buttons" required="true" />
  <node machine="raspimouse" pkg="raspimouse_ros_2" name="leds" type="leds" required="true" />

  <node machine="raspimouse" pkg="joy" name="joy_node" type="joy_node" required="true">
    <param name="autorepeat_rate" value="3" />
  </node>
  <node machine="raspimouse" pkg="raspimouse_game_controller" name="logicool_cmd_vel"
        type="logicool_cmd_vel.py" required="true" output="screen" />

  <node machine="raspimouse" pkg="urg_node" name="urg_node" type="urg_node" required="true" >
        <param name="frame_id" value="base_link"/>
  </node>

  <node machine="raspimouse" pkg="rt_usb_9axis_sensor" name="rt_usb_9axis_sensor" type="rt_usb_9axis_sensor" required="true" output="screen">
    <param name="port" value="/dev/ttyACM1"/>
  </node>

<!-- PC SIDE -->
  <arg name="scan_topic" default="/scan" />
  <arg name="odom_topic" default="/odom" />

  <node pkg="tf" type="static_transform_publisher" name="imu_link_connect" args="0 0 0 0 0 0 /imu_link /base_imu_link 100"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mapping_pfoe)/config/config.rviz"/>

  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/backpack_2d.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find raspimouse_cartographer)/config
          -configuration_basename backpack_2d.lua"
      output="screen">
    <remap from="echoes" to="horizontal_laser_2d" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <node name="trajectory_extractor" pkg="raspimouse_cartographer" type="trajectory_extractor"  output="screen" required="true" />
</launch>

