<launch>
  <arg name="scan_topic" default="/scan" />
  <arg name="odom_topic" default="/odom" />

  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/backpack_2d.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find raspimouse_cartographer)/config
          -configuration_basename backpack_2d.lua"
      output="screen">
    <remap from="echoes" to="horizontal_laser_2d" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

<!--
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame" value="odom"/>

    <param name="maxUrange" value="4.0"/>
    <param name="maxRange" value="4.0"/>

    <param name="srr" value="0.3"/>  
    <param name="srt" value="0.1"/>   
    <param name="str" value="0.1"/> 
    <param name="stt" value="0.3"/>

    <param name="particles" value="100"/>
  </node>
-->
</launch>

