<launch>
  <node pkg="raspimouse_catrographer" name="keyboard_cmd_vel" type="keyboard_cmd_vel.py" required="true" />

  <node pkg="urg_node" name="urg_node" type="urg_node" required="true" >
        <param name="frame_id" value="base_link"/>
  </node>

  <arg name="scan_topic" default="/scan" />
  <arg name="odom_topic" default="/odom" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame" value="odom"/>

    <param name="maxUrange" value="4.0"/>
    <param name="maxRange" value="4.0"/>

    <param name="srr" value="0.3"/>   <!-- 直進1mあたりの直進方向の誤差[m] -->
    <param name="srt" value="0.1"/>   <!-- 回転1radあたりの際の直進方向の誤差[m] -->
    <param name="str" value="0.1"/>   <!-- 直進1mあたりの際の回転方向の誤差[rad] -->
    <param name="stt" value="0.3"/>   <!-- 回転1radあたりの直進方向の誤差[rad] -->

    <param name="particles" value="100"/>
  </node>
</launch>

